<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>placeImage</key>
	<array>
		<string>blazh.jpg</string>
		<string>teatr.jpg</string>
		<string>kremlin.jpg</string>
		<string>moscowcity.jpg</string>
	</array>
	<key>levelText</key>
	<array>
		<string>Для выполнения первого задания необходимо прибыть на самую известную площадь России.</string>
		<string>Для выполнения второго задания необходимо посетить спектакль в Большом театре</string>
		<string>Для выполнения третьего задания необходимо встать на Большой каменный мост</string>
		<string>Для выполнения последнего задания необходимо приехать на станцию метро Выставочная</string>
	</array>
	<key>placeText</key>
	<array>
		<string>Собор Василия Блаженного в Москве на Красной площади - главный храм столицы России. Поэтому для многих жителей планеты он является символом России, так же как Эйфелева башня для Франции или Статуя Свободы для Америки. В настоящее время храм является филиалом Государственного Исторического музея. С 1990 года он  входит в Список объектов Всемирного наследия ЮНЕСКО в России.</string>
		<string>28 марта (17-го по ст. стилю) 1776 г. Екатерина II подписала прокурору князю Петру Урусову «привилегию» на содержание спектаклей, маскарадов, балов и прочих увеселений сроком на десять лет. Эта дата считается днем основания московского Большого театра.

28 марта (17-го по ст. стилю) 1776 г. Екатерина II подписала прокурору князю Петру Урусову «привилегию» на содержание спектаклей, маскарадов, балов и прочих увеселений сроком на десять лет. Эта дата считается днем основания московского Большого театра.

</string>
		<string>Моско́вский Кре́мль — древнейшая часть Москвы, главный общественно-политический, духовно-религиозный и историко-художественный комплекс города, официальная резиденция Президента Российской Федерации. </string>
		<string>Московский международный деловой центр «Москва-Сити»[2](ММДЦ «Москва-Сити») — строящийся деловой район в Москве на Пресненской набережной. В настоящее время административно является частью Пресненского района Центрального административного округа города Москвы.</string>
	</array>
	<key>questionText</key>
	<array>
		<string>Какое количесвто купалов у собора Василия Блаженного?</string>
		<string>В каком году закончилась реконструкция?</string>
		<string>Количество башен?</string>
		<string>Количество этажей в самой высокой башне?</string>
	</array>
	<key>answerText</key>
	<array>
		<string>11</string>
		<string>2011</string>
		<string>20</string>
		<string>97</string>
	</array>
	<key>variantsText</key>
	<array>
		<array>
			<string>11</string>
			<string>7</string>
			<string>9</string>
			<string>8</string>
		</array>
		<array>
			<string>2010</string>
			<string>2011</string>
			<string>2012</string>
			<string>2009</string>
		</array>
		<array>
			<string>21</string>
			<string>23</string>
			<string>20</string>
			<string>19</string>
		</array>
		<array>
			<string>25</string>
			<string>65</string>
			<string>80</string>
			<string>97</string>
		</array>
	</array>
	<key>locations</key>
	<array>
		<array>
			<string>55.752511</string>
			<string>37.623136</string>
		</array>
		<array>
			<string>55.760079</string>
			<string>37.618587</string>
		</array>
		<array>
			<string>55.749903</string>
			<string>37.615905</string>
		</array>
		<array>
			<string>55.748971</string>
			<string>37.53855</string>
		</array>
	</array>
	<key>titleText</key>
	<array>
		<string>Собор Василия Блаженного</string>
		<string>Большой Театр</string>
		<string>Кремль</string>
		<string>Москва Сити</string>
	</array>
</dict>
</plist>
